/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Variables */
:root {
    --main-color: rgb(83, 108, 216);
    --alt-color: #0e1133;
    --pragraph-color: #505056;
    --alt-background: #eef1f6;
    --border-color: #5050562b;
    --main-padding: 5rem;
    --transition: 0.3s;
}

/* Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Common Elements and Classes */
.main-header {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: var(--alt-color);
}

.main-header + p {
    color: #777;
}

.up {
    content: '';
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: var(--transition);
    z-index: 5;
}

.up:hover {
    opacity: 0.7;
}

.soon {
    position: relative;
}

.soon span {
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    background-color: #ff3e66;
    color: white;
    padding: 0.2rem;
    border-radius: 2rem;
}

@media (min-width: 993px) {
    .soon span {
        top: -1.4rem;
        left: 2.5rem;
    }
}

@media (max-width: 767px) {
    .soon span {
        top: 1.9rem;
        left: 4.5rem;
        text-align: center;
        padding: 0.2rem 0.6rem;
    }    
}

nav ul.show-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--alt-background);
    width: 100%;
    border-top: 1px solid var(--main-color);
    z-index: 10;
}
